.easy-icon-refresh{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -334px;
}
.easy-icon-add{
	background:url('../images/toolBar.png') no-repeat;background-position:-284px -64px;
}
.easy-icon-edit{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -64px;
}
.easy-icon-remove{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -94px;
}
.easy-icon-update-status{
	background:url('../images/toolBar.png') no-repeat;background-position:-284px -305px;
}
.easy-icon-role{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -305px;
}
.easy-icon-network{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -549px;
}

.easy-icon-import{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -360px;
}

.easy-icon-export{
	background:url('../images/toolBar.png') no-repeat;background-position:-284px -4px;
}

.easy-icon-copy{
	background:url('../images/toolBar.png') no-repeat;background-position: -284px -240px;
}

.easy-icon-submit{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -122px;
}

.easy-icon-audit{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -274px;
}

.easy-icon-unaudit{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -150px;
}

.easy-icon-cancel{
	background:url('../images/toolBar.png') no-repeat;background-position:-284px -30px;
}

.easy-icon-print{
	background:url('../images/toolBar.png') no-repeat;
}

.easy-icon-lock{
	background:url('../images/toolBar.png') no-repeat;background-position:0px -180px;
}

.easy-icon-black{ 
	background:url('./easyui/theme/icons/blank.gif') no-repeat center center;
}

.easy-icon-view{
	background:url('../images/toolBar.png') no-repeat;background-position:-284px -244px;
}