@charset "utf-8";

/* Core Code */
.layout_left div,span,font,img,ul,li {
	padding: 0;
	margin: 0;
	line-height: 100%;
	font: 12px/1.5em "Microsoft yahei",
		"\5FAE\8F6F\96C5\9ED1,sans-serif,tahoma";
	list-style: none;
}

.navCss div,span,font,img,ul,li {
	padding: 0;
	margin: 0;
	line-height: 100%;
	font: 12px/1.5em "Microsoft yahei",
		"\5FAE\8F6F\96C5\9ED1,sans-serif,tahoma";
	list-style: none;
}

body {
	width: 100%;
	height: 100%;
	color: black;
}



.navCss li .color1 {
	color: #fff;
}


.sidebar_ul li {
	cursor: pointer;
}

.sidebar_ul_li img {
	border: none;
}

.sidebar_ul_li a {
	color: #333;
	text-decoration: none;
}

.sidebar_ul_li .sidebar_li_ul a:hover {
	font-color: #1081df;
	text-decoration: none;
}

/*layout*/
.layout {
	width: 100%;
	margin: 0 auto;
	min-width: 1024px !important;
}

.headerNavCss {
	height: 26px;
	width: 100%;
}

.layout_left {
	width: 110px;
	height: 100%;
	background: #1c2029;
}

.navCss {
	background: white;
	height: 26px;
	float: right;
	margin-right: 12px;
	position: absolute;
	right: 0;
	z-index: 100;
}

.navCss li:first-child {
	-moz-border-radius: 0 0 0 8px; /* Firefox */
	-webkit-border-radius: 0 0 0 8px; /* Safari 和 Chrome */
	border-radius: 0 0 0 8px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}

.navCss li:last-child {
	-moz-border-radius: 0 0 8px 0; /* Firefox */
	-webkit-border-radius: 0 0 8px 0; /* Safari 和 Chrome */
	border-radius: 0 0 8px 0; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}

.navCss li {
	float: left;
	line-height: 26px;
}

.navCss li a {
	color: #999;
	padding: 0 12px;
	line-height: 26px;
	border-left: 1px solid #4a4a4a;
}

.navCss li:first-child a {
	color: #0066ff;
	padding: 0 12px;
	line-height: 26px;
	border-left: none;
	font-size: 12px;
}

.headerNavCss {
	position: relative;
}

.layout_logo {
	width: 110px;
	height: 35px;
	background: url(../images/index/logo.png) no-repeat 8px 15px;
	background-size: 85%;
	display: block;
	font-size: 14px;
	color: white;
	padding-top: 57px;
	font-family: "微软雅黑";
	text-align: center;
	position: absolute;
	left: 0;
	top: -88px;
	z-index: 99;
}

/*left*/
.mana_collapse {
	width: 110px;
	height: 64px;
}

.sidebar_ul {
	width: 110px;
}

.sidebar_li_ul {
	width: 214px;
	position: absolute;
	left: 110px;
	top: -34px;
	z-index: 99;
}

.sidebar_li_div {
	width: 214px;
	position: absolute;
	left: 110px;
	top: -34px;
	z-index: 98;
	background: white;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

.sidebar_ul .sidebar_ul_li {
	height: 45px;
	background: #282e3b;
	line-height: 45px;
	width: 110px;
	overflow: hidden;
	margin-top: 5px;
}

.sidebar_li_ul li:first-child {
	margin-top: 120px;
}

.sidebar_li_ul li {
	width: 214px;
	height: 32px;
	line-height: 32px;
	float: right;
	color: #333;
	border-bottom: 1px solid #cdcdcd;
}

.sidebar_ul .sidebar_li_ul a {
	color: #333;
}

.sidebar_ul .color1 .sidebar_li_ul a:hover {
	color: red;
}

.sidebar_ul .sidebar_ul_li .sidebar_li_ul a {
	color: #333;
}

.sidebar_li_ul li a {
	line-height: 32px;
	color: #333;
}

#sidebar_oy {
	padding-top: 57px;
}

#sidebar_oy .sidebar_ul .color1 {
	background: #fff;
	width: 110px;
}

.sidebar_ul .sidebar_li_bottom {
	height: 45px;
	background: #777;
	margin-top: 5px;
}

.sidebar_ul_li span {
	display: block;
	width: 28px;
	margin-left: 10px;
	height: 45px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.layout_left {
	position: absolute;
	z-index: 99;
}

.sidebar_ul_li:hover {
	width: 110px;
	background: white;
}

.sidebar_ul_li:hover a {
	color: #1081df;
}

.sidebar_ul_li .sidebar_li_ul a {
	color: #333;
}

.sidebar_ul .sidebar_ul_li .sidebar_li_ul li:hover a {
	color: #1081df;
}

.sidebar_ul .sidebar_ul_li:hover i {
	width: 16px;
	height: 45px;
	display: block;
	float: right;
	margin-right: 4px;
	background: url(../images/index/layout_index.png) no-repeat center;
	background-size: 16px 16px;
} 

.sidebar_li_ul li strong {
	margin-right: 30px;
	display: block;
	float: right;
	width: 8px;
	height: 32px;
	background: url(../images/index/to_right.png) no-repeat left center;
	background-size: 16px 12px;
}

.sidebar_li_ul li:hover strong {
	margin-right: 30px;
	display: block;
	float: right;
	width: 8px;
	height: 32px;
	background: url(../images/index/to_right.png) no-repeat right center;
	background-size: 16px 12px;
}

.sidebar_li_ul li {
	text-align: left;
}

.sidebar_li_ul li a {
	text-align: left;
	color: #333;
	margin-left: 30px;
	float: left;
}

.sidebar_ul_li i {
	display: block;
	width: 16px;
	margin-right: 4px;
	height: 45px;
	float: right;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.sidebar_ul_li span img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.sidebar_ul .color1 span img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.sidebar_ul .color1 i {
	width: 16px;
	height: 45px;
	display: block;
	float: right;
	margin-right: 4px;
	background-size: 16px 16px;
}

.sidebar_ul_li i {
	width: 16px;
	height: 45px;
	margin-right: 4px;
	display: block;
	float: right;
}

.sidebar_ul_li a {
	display: inline-block;
	line-height: 45px;
	color: #999;
	overflow: hidden;
	/*    width: 48px;*/
}

.sidebar_ul .color1 a {
	color: #f0831e;
}

.sidebar_li_ul li {
	height: 32px;
}

.sidebar_ul_li>li>a {
	width: 43px;
	text-align: center;
	font-size: 14px;
	float: left;
	color: red;
}

#fold_left{transition:All 0s linear;-webkit-transition:All 0s linear;-moz-transition:All 0s linear;-o-transition:All 0s linear;}
.fold-right-hover{transform:translate(-110px,0px);-webkit-transform:translate(-110px,0px);
-moz-transform:translate(-110px,0px);-o-transform:translate(-110px,0px);-ms-transform:translate(-110px,0px);}
.fold_left{position: absolute;width: 10px;height: 30px;left: 110px;color: black;z-index: 999;top:56px;background:url(../images/index/fold-left1.png) no-repeat left top}
.layout-expand-west{opacity:0;}
.fold_left:hover{cursor:pointer}


#container {
	position: relative;
	background: gray;
	/* min-width:1024px;  */
	left: 110px;
	top: 0px;
}

.container div {
	padding:0 10px;
}

#footer{
	height: 0px;
}

.padding14{padding:0 14px;}

.padding_0{padding:0;}





/*index*/
.fieldsPanel-textbox .textbox{border:0;}




